body{
    font-family: 'Open Sans';
    background-color: #b59471;
    background-repeat: no-repeat;
}

.settimer {
    display: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

input{
	height: 60px;
	width: 100px;
	margin: 15px;
}
.submit { 
	height: 60px;
	width: 200px;
	margin: 15px
}
 
.countdown-title {
    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
    padding-left: 380px;
}
 
.countdown {
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 75px;
    margin-left: 510px;
    margin-top: 100px;
}
 
.countdown-number {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    color: #E7292C;
    font-weight: bold;
  
}
 
.countdown-time {
    padding: 2px;
    border-radius: 3px;
    background-color: #262626;
    display: inline-block;
}
 
.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}

.message{
    color: #E7292C;
    font-weight: bold;
    font-size: 180px;
    margin-top: 250px;
    margin-left: 300px;

    height: auto;
    background-color: #262626;

}

button{
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid rgb(65, 44, 132);
 }
 .keys{
    margin-left: 500px;
}
.pause{
	display: none;
	margin-left: 600px;
	margin-top: 10px;
	border-style: none;
	color: #E7292C;
	font-size: 16px;
	font-weight: bold;
	background-color: #262626;
}